#comparison {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#comparison .back-img {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../../assets/img/home_background.jpg) center/cover;
}